In [6]:
import requests
import pandas as pd

# create request header
##  SEC uses no key or codes, but rather the email.

headers = {'User-Agent': "ichessur@gmail.com"}

# Companies data 
# At this link, there are all the CIK numbers it's of 10 digit.

companyTicker = requests.get(
    "https://www.sec.gov/files/company_tickers.json", 
    headers=headers
    )

# 
# print(companyTicker.json().keys()) <- it returns almost 10.000 entry

firstEntry = companyTicker.json()['0']
directCik = companyTicker.json()['0']['cik_str']
allinfo = companyTicker.json()['0']['title'], companyTicker.json()['0']['cik_str'], companyTicker.json()['0']['ticker']

## Print the info of index 0 from SEC api - Should be Apple.

All the info in the SEC API are indexed by CIK number (it's a 10 digit)

In [7]:
# this should return Apple which is the index[0] in SEC database CIK.
print(allinfo)

('Apple Inc.', 320193, 'AAPL')

In [8]:
directCik

320193

In [9]:
companyData = pd.DataFrame.from_dict(companyTicker.json(),
                                     orient='index')

In [10]:
companyData

      cik_str ticker                          title
0      320193   AAPL                     Apple Inc.
1      789019   MSFT                 MICROSOFT CORP
2     1652044  GOOGL                  Alphabet Inc.
3     1018724   AMZN                 AMAZON COM INC
4     1067983  BRK-B         BERKSHIRE HATHAWAY INC
...       ...    ...                            ...
9525  1866816  OLITU      OmniLit Acquisition Corp.
9526  1653384  RWAYZ    Runway Growth Finance Corp.
9527  1822791  CLNNW                     Clene Inc.
9528  1856724  BPACW  Bullpen Parlay Acquisition Co
9529  1853816  DRMAW     Dermata Therapeutics, Inc.

[9530 rows x 3 columns]

In [12]:
companyData = pd.DataFrame.from_dict(companyTicker.json(),
                                     orient='index')
companyData['cik_str'] = companyData['cik_str'].astype(str).str.zfill(10)

In [17]:
companyData[:1]

      cik_str ticker       title
0  0000320193   AAPL  Apple Inc.

In [21]:
cik = companyData[0:1].cik_str[0]
cik

'0000320193'